<style>
	input.ng-valid {
		border: 2px solid green;
	}
	input.ng-invalid.ng-touched {
		border: 2px solid red;
	}
</style>
<form novalidate name="widgetForm">
	<div ng-show="widgetForm.$invalid">
		<ul>
			<li ng-show="widgetForm.widgetName.$invalid && widgetForm.widgetName.$touched">Please enter a name.</li>
			<li ng-show="widgetForm.widgetDescription.$invalid && widgetForm.widgetDescription.$touched">Please enter a description.</li>
			<li ng-show="widgetForm.widgetColor.$invalid && widgetForm.widgetColor.$touched">Please enter a color.</li>
			<li ng-show="widgetForm.widgetSize.$invalid && widgetForm.widgetSize.$touched">Please enter a size.</li>
			<li ng-show="widgetForm.widgetQuantity.$invalid && widgetForm.widgetQuantity.$touched">Please enter a quantity.</li>
		</ul>
	</div>
	<div>
		<div>
			<label>Name:
				<input ng-model="widget.name" name="widgetName" required>
			</label>
			<span ng-show="widgetForm.widgetName.$invalid && widgetForm.widgetName.$touched">
				Please enter a name.
			</span>
		</div>
		<div>
			<label>Description:
				<input ng-model="widget.description" name="widgetDescription" required>
			</label>
			<span ng-show="widgetForm.widgetDescription.$invalid && widgetForm.widgetDescription.$touched">
				Please enter a description.
			</span>
		</div>
		<div>
			<label>Color:
				<select ng-model="widget.color" name="widgetColor"
					ng-options="color.code as color.name
						group by color.category for color in colors">
					<option value="">Select One...</option>
				</select>
			</label>
			<span ng-show="widgetForm.widgetColor.$invalid && widgetForm.widgetColor.$touched">
				Please enter a color.
			</span>
		</div>
		<div>
			<label>Size:
				<input ng-model="widget.size" name="widgetSize" required>
			</label>
			<span ng-show="widgetForm.widgetSize.$invalid && widgetForm.widgetSize.$touched">
				Please enter a size.
			</span>
		</div>
		<div>
			<label>Quantity:
				<input ng-model="widget.quantity" name="widgetQuantity" type="number" required>
			</label>
			<span ng-show="widgetForm.widgetQuantity.$invalid && widgetForm.widgetQuantity.$touched">
				Please enter a quantity.
			</span>
		</div>
	</div>
	<button type="button" ng-click="saveWidget()" ng-disabled="widgetForm.$invalid">Save</button>
	<button type="button" ng-click="deleteWidget()" ng-if="widget.id">Delete</button>
	<button type="button" ui-sref="home">Return to List</button>
</form>
